<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}DEVOUR{{else}}THROW UP{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>